---
import { getImage } from "@/db/queries";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getTransLink, languages } from "@/utils/langs";

const { id } = Astro.params;

const image = await getImage(id);

const langSwitch = {};

languages.forEach((language) => {
  langSwitch[language] = getTransLink(language, Astro.url.pathname);
});
---

<BaseLayout
  langSwitch={langSwitch}
  language={"de"}
  metaTitle={"Image"}
  metaDescription={"Image"}
>
  <div class="h-screen">
    <img src={image.url} class="h-full w-full object-contain object-center" />
  </div>
</BaseLayout>
