/* CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
h1,
h2,
h3,
h4,
h5,
h6,
p,
hgroup,
ul,
ol,
dd,
dl,
blockquote,
figure,
pre,
table,
fieldset,
hr {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* custom CSS */

html {
  font-family: system-ui;
}

html.dark {
  background-color: #0c243c;
  color: white;
}

.dark a {
  color: white;
}

body {
  display: grid;
  grid-template-columns: 1fr min(80ch, 60vw) 1fr;
  gap: 1rem;
}

main {
  grid-column: 2;
}

a {
  text-decoration: none;
}

.dark a {
  color: lightcoral;
}

p {
  max-width: 70ch;
}

.blog-post-list li {
  margin-bottom: 1.5rem;
}

/* header */

.header-menu {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.page-nav {
  display: flex;
  gap: 2rem;
  color: darkblue;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hamburger {
  cursor: pointer;
  display: none;
  margin: 2rem 0;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: darkblue;
}

.themeToggle {
  border: 0;
  background: none;
  cursor: pointer;
}

.menu-utils {
  margin-left: auto;
}

.menu-utils a {
  padding: 0.5rem;
}

.menu-utils a:hover {
  opacity: 0.7;
}

.sun {
  fill: black;
}

.moon {
  fill: transparent;
}

.dark .sun {
  fill: transparent;
}

.dark .moon {
  fill: white;
}

@media screen and (max-width: 636px) {
  .header-menu {
    display: none;
    flex-direction: column;
  }

  .page-nav {
    flex-direction: column;
    padding: 0;
  }

  .expanded {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .dark .hamburger .line {
    background-color: lightcoral;
  }

  .menu-utils {
    margin-left: 0;
  }
}

/* footer */

.page-footer {
  margin-top: auto;
  padding: 1.5em;
  background-color: #333;
  color: white;
  grid-column-end: span 3;
}

.page-footer ul {
  margin-bottom: 0;
}

.page-footer p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.page-footer li {
  transition: transform 0.2s;
}

.page-footer li:hover,
.page-footer li:focus {
  transform: scale(1.2);
}

.page-footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.link-to-post {
  color: blue;
}

.link-to-post:hover,
.link-to-post:focus {
  opacity: 0.7;
}

.grid-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
}

/* gallery */

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  list-style: none;
  padding: 0;
  margin: 0;
}

.image-wrapper {
  height: max(15vh, 15rem);
  flex: 1 1 15rem;
}

@supports (aspect-ratio: 1) {
  .image-wrapper {
    aspect-ratio: 4/3;
    height: auto;
  }
}

.image-wrapper img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-title {
  margin-bottom: 0;
  font-weight: bold;
}
