@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%; /* gray-50 */
    --foreground: 0 0% 20%; /* soft black */

    --card: 220 13% 90%; /* gray-100 */
    --card-foreground: 0 0% 20%; /* soft black */

    --popover: 220 13% 90%; /* gray-100 */
    --popover-foreground: 0 0% 20%; /* soft black */

    --primary: 210 60% 50%; /* slate blue */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 180 76% 39%; /* teal */
    --secondary-foreground: 0 0% 100%; /* white */

    --muted: 220 14% 96%; /* gray-200 */
    --muted-foreground: 0 0% 20%; /* soft black */

    --accent: 16 100% 66%; /* coral */
    --accent-foreground: 0 0% 100%; /* white */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 13%; /* gray-900 */
    --foreground: 220 14% 84%; /* gray-300*/

    --card: 215 28% 17%; /* bg-gray-800 */
    --card-foreground: 220 14% 84%; /* gray-300*/

    --popover: 215 28% 17%; /* bg-gray-800 */
    --popover-foreground: 220 14% 84%; /* gray-300*/

    --primary: 16 100% 66%; /* bright coral */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 174 100% 50%; /* turquoise */
    --secondary-foreground: 0 0% 100%; /* white */

    --muted: 215 25% 27%; /* gray-700*/
    --muted-foreground: 220 14% 84%; /* gray-300*/

    --accent: 270 60% 70%; /* lavender */
    --accent-foreground: 0 0% 0%; /* soft black */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply mb-3 scroll-m-20 text-4xl font-bold tracking-tight;
  }
  h2 {
    @apply mb-3 scroll-m-20 text-3xl font-semibold tracking-tight;
  }
  h3 {
    @apply mb-3 scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply mb-3 scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 text-lg;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
}

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}
