---
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<div {...storyblokEditable(blok)}>
    <p>test</p>
    <p>{blok.title}</p>
  <div set:html={renderedRichText} />
</div>
