---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import { getTransLink } from "../utils/langs.js";
import isPreview from "@/utils/isPreview";

const { language, blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: isPreview() ? "draft" : "published",
  starts_with: "information/",
  is_startpage: false,
  language,
});

const articles = data.stories;
---

<section {...storyblokEditable(blok)}>
  <ul>
    {
      articles?.length &&
        articles.map((article) => {
          article.content.slug = article.slug;
          return (
            <li class="mb-10">
              <h2>{article.content.title}</h2>
              <p>{article.content.description}</p>
              <a
                class="underline underline-offset-2"
                href={getTransLink(
                  language,
                  `/information/${article.content.slug}`
                )}
              >
                {article.content.link_title}
              </a>
            </li>
          );
        })
    }
  </ul>
</section>
