---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import { getTransLink } from "../utils/langs.js";
import isPreview from "@/utils/isPreview";

const { language, blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data: startPageData } = await storyblokApi.get(
  "cdn/stories/information",
  {
    version: isPreview() ? "draft" : "published",
    language,
  }
);

const { data: itemsData } = await storyblokApi.get(`cdn/stories`, {
  version: isPreview() ? "draft" : "published",
  starts_with: "information/",
  is_startpage: false,
  language,
});

const title = startPageData.story.content.title;
const articles = itemsData.stories;
---

<section {...storyblokEditable(blok)}>
  {!!title.trim().length && <h1 class="sr-only">{title}</h1>}
  <ul>
    {
      articles?.length &&
        articles?.map((article) => {
          article.content.slug = article.slug;
          return (
            <li class="mb-10 border rounded-md px-10 py-5 relative hover:opacity-50">
              <section>
                <h2>
                  <a
                    href={getTransLink(
                      language,
                      `/information/${article.content.slug}`
                    )}
                  >
                    <span class="absolute inset-0 z-10" aria-hidden="true" />
                    {article.content.title}
                  </a>
                </h2>
                <p>{article.content.meta_description}</p>
              </section>
            </li>
          );
        })
    }
  </ul>
</section>
