---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  <h2>{blok.title}</h2>
  <p>{blok.email}</p>
  <p>{blok.telefon}</p>
</article>
