---
import { storyblokEditable } from "@storyblok/astro";
import ImagePreset from "../components/ImagePreset.astro";

const { blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  {!!blok.title?.trim().length && <h1 class="sr-only">{blok.title}</h1>}
  <ul class="flex gap-3 flex-wrap justify-center">
    {
      blok.gallery?.map((image) => (
        <li class="aspect-[4/3] max-w-56 w-full rounded-md overflow-hidden">
          <ImagePreset 
            image={image}
          />
        </li>
      ))
    }
  </ul>
</article>
