---
import { storyblokEditable } from "@storyblok/astro";
import Gallery from "../components/Gallery.astro";

const { blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  {!!blok.title?.trim().length && <h1 class="sr-only">{blok.title}</h1>}
  <Gallery images={blok.gallery} />
</article>
