---
import { storyblokEditable } from "@storyblok/astro";
import Gallery from "../components/Gallery.astro";
import type { GalleryPageStoryblok } from "component-types-sb";

interface Props {
  language: string;
  blok: GalleryPageStoryblok;
}

const { blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  {!!blok.title?.trim().length && <h1 class="sr-only">{blok.title}</h1>}
  <Gallery />
</article>
