---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  <ul class="flex gap-1 flex-wrap">
    {
      blok.gallery.map((image) => (
        <li>
          <img class="aspect-[4/3] max-w-60 object-cover" src={image.filename} />
        </li>
      ))
    }
  </ul>
</article>
