---
import { storyblokEditable } from "@storyblok/astro";
import ImagePreset from "../components/ImagePreset.astro";

const { blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  {!!blok.title?.trim().length && <h1 class="sr-only">{blok.title}</h1>}
    <ul class="gap-3 justify-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    {
      blok.gallery?.map((image) => (
        <li class="aspect-[4/3] w-full rounded-md overflow-hidden">
          <ImagePreset image={image} />
        </li>
      ))
    }
  </ul>
</article>
