---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { language, blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)}>
  <h1>{blok.title}</h1>
  <section class="mb-5" set:html={renderedRichText} />
  {
    blok.block?.map((blok) => (
      <StoryblokComponent language={language} blok={blok} />
    ))
  }
</article>
