---
import { Image } from "astro:assets";
import { storyblokEditable } from "@storyblok/astro";
import type { ImageLinkStoryblok } from "component-types-sb";

interface Props {
  language: string;
  blok: ImageLinkStoryblok;
}

const { blok } = Astro.props;
const maxWidth = 250;
---

<a
  {...storyblokEditable(blok)}
  href=`${blok.link.cached_url}`
  class=`group aspect-[5/7] max-w-[${maxWidth}px] sm:max-w-60 rounded-md overflow-hidden relative hover:scale-110 hover:z-10 w-full h-full`
>
  <div
    class="bg-primary text-accent-foreground text-xl font-semibold absolute w-full px-2 py-3 opacity-70 group-hover:opacity-90"
  >
    {blok.cta_text}
  </div>
  <Image
    src={blok.image.filename + `/m/${500}x${0}`}
    alt={blok.image.alt ?? "image without description"}
    width="500"
    height="750"
    class="object-cover object-center w-full h-full"
    quality={80}
  />
</a>
