---
import { Image } from "astro:assets";
import { storyblokEditable } from "@storyblok/astro";
import type { ImageLinkStoryblok } from "component-types-sb";
import { buttonVariants } from "@/components/ui/button";
import { Card, CardContent } from "@/components/ui/card";

interface Props {
  language: string;
  blok: ImageLinkStoryblok;
}

const { blok } = Astro.props;
---

<Card
  className="overflow-hidden shadow-md hover:shadow-lg transition-shadow"
  {...storyblokEditable(blok)}
>
  <Image
    src={blok.image.filename + `/m/${600}x${0}`}
    alt={blok.image.alt ?? "image without description"}
    inferSize
    class="w-full h-64 object-cover"
    quality={80}
  />
  <CardContent className="p-4">
    <h2 class="text-xl md:text-2xl font-semibold mb-4">
      {blok.title}
    </h2>
    <a
      href={blok.link.cached_url}
      class={buttonVariants({
        variant: "outline",
        className:
          "w-full border-primary text-primary hover:bg-primary hover:text-foreground text-lg md:text-xl",
      })}
    >
      {blok.cta_text}
    </a>
  </CardContent>
</Card>
