---
import { storyblokEditable } from "@storyblok/astro";
import { Image } from "astro:assets";

const { blok } = Astro.props;
---

<a {...storyblokEditable(blok)} href=`${blok.link.cached_url}`>
  <div class="group aspect-[5/7] max-w-96 sm:max-w-60 rounded-md overflow-hidden relative hover:scale-110 hover:z-10">
    <div
      class="bg-primary text-accent-foreground text-xl font-semibold absolute w-full px-2 py-3 opacity-70 group-hover:opacity-90"
    >
      {blok.cta_text}
    </div>
    <Image
      src={blok.image.filename + "/m/"}
      alt={blok.image.alt ?? ""}
      inferSize
      class="object-cover object-center w-full h-full"
    />
  </div>
</a>
