---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import type { InformationPostStoryblok } from "component-types-sb";

interface Props {
    language: string;
    blok: InformationPostStoryblok;
}

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<article class="prose dark:prose-invert" {...storyblokEditable(blok)}>
    <h1>{blok.title}</h1>
    <div set:html={renderedRichText} />
</article>
