---
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<article class="prose dark:prose-invert" {...storyblokEditable(blok)}>
    <h1>{blok.title}</h1>
    <div set:html={renderedRichText} />
</article>
