---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="grid-wrapper">
  <div class="image-wrapper">
    <img src={blok.image.filename} />
  </div>
  <div>
    <h3>{blok.name}</h3>
    <a href={blok.link.cached_url}>More about me...</a>
  </div>
</section>
