---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { GridStoryblok } from "component-types-sb";

interface Props {
  language: string;
  blok: GridStoryblok;
}

const { language, blok } = Astro.props;
---

<section class="container mx-auto px-4" {...storyblokEditable(blok)}>
  <h2 class="text-4xl font-bold text-center mb-8 text-accent">{blok.title}</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {
      blok.columns?.map((blok) => {
        return <StoryblokComponent language={language} blok={blok} />;
      })
    }
  </div>
</section>
