---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { language, blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
  <h3>{blok.title}</h2>
  <ul class="list-disc ml-5">
    {
      blok.values?.map((blok) => (
        <li class="mb-1 last:pb-5">
          <StoryblokComponent language={language} blok={blok} />
        </li>
      ))
    }
  </ul>
</section>
