---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getTransLink, languages } from "@/utils/langs";
import { getImage } from "@/db/queries";
import type { LangSwitch } from "@/lib/customTypes";
import ImagePreset from "@/components/ImagePreset.astro";

const { locale, id } = Astro.params;

const image = await getImage(id);

const pathnameWithoutLocaleAsArray: string[] = Astro.url.pathname
  .split("/")
  .slice(2);
const pathnameWithSlash: string = "/" + pathnameWithoutLocaleAsArray.join("/");
const langSwitch: LangSwitch = {};

languages.forEach((language) => {
  langSwitch[language] = getTransLink(language, pathnameWithSlash);
});
---

<BaseLayout
  langSwitch={langSwitch}
  language={locale}
  metaTitle={"Image"}
  metaDescription={"Image"}
>
  <div class="flex justify-center h-[70vh]">
    <ImagePreset src={image.url} />
  </div>
</BaseLayout>
