---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getTransLink, languages } from "@/utils/langs";
import { getImage } from "@/db/queries";
import type { LangSwitch } from "@/lib/customTypes";

const { locale, id } = Astro.params;

const image = await getImage(id);

const pathnameWithoutLocaleAsArray: string[] = Astro.url.pathname.split("/").slice(2);
const pathnameWithSlash: string = "/" + pathnameWithoutLocaleAsArray.join("/");
const langSwitch: LangSwitch = {};

languages.forEach((language) => {
  langSwitch[language] = getTransLink(language, pathnameWithSlash);
});
---

<BaseLayout
  langSwitch={langSwitch}
  language={locale}
  metaTitle={"Image"}
  metaDescription={"Image"}
>
  <div class="h-screen">
    <img src={image.url} class="h-full w-full object-contain object-center" />
  </div>
</BaseLayout>
