---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { ConfigStoryblok, MenuLinkStoryblok } from "component-types-sb";

const { language } = Astro.props;
const storyblokApi = useStoryblokApi();
const { data }: { data: ConfigStoryblok } = await storyblokApi.get(
  "cdn/stories/footer-config",
  {
    version: "draft",
    resolve_links: "url",
    language,
  }
);
const socialLinks: MenuLinkStoryblok[] = data?.story?.content?.items;
---

<footer class="py-8 mt-auto">
  <div class="container mx-auto px-4 text-center">
    <p>
      {data?.story?.content?.copyright}
    </p>
    <div class="mt-4">
      {
        socialLinks?.map((blok) => (
          <StoryblokComponent language={language} blok={blok} />
        ))
      }
    </div>
  </div>
</footer>
