---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { language } = Astro.props;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/footer-config", {
  version: "draft",
  resolve_links: "url",
  language,
});
const socialLinks = data?.story?.content?.items;
---

<footer class="mt-auto bg-muted py-8 px-6 flex flex-col items-center">
  <ul class="flex flex-wrap gap-5">
    {
      socialLinks?.map((blok) => (
        <li class="underline underline-offset-2">
          <StoryblokComponent language={language} blok={blok} />
        </li>
      ))
    }
  </ul>
</footer>
