---
import ImagePreset from "./ImagePreset.astro";
import { GET } from "@/pages/queries.ts";

let response = await GET(Astro);
const myImages = await response.json();
---

<ul class="gap-4 justify-center grid grid-cols-2 sm:grid-cols-3">
  {
    myImages?.map((image) => (
      <li class="aspect-square rounded-md overflow-hidden">
        <ImagePreset src={image?.url} alt={image?.name} />
      </li>
    ))
  }
</ul>
