---
import { getImages } from "@/db/queries";
import { Image } from "astro:assets";

const images = await getImages();

let lang: string = "de";
const locale: string = Astro.url.pathname.split("/")[1];

if (locale === "en") {
  lang = "en";
} else if (locale === "ru") {
  lang = "ru";
}

const pathNameWithoutId: string =
  lang === "de" ? "/gallery/" : "/" + lang + "/gallery/";
---

<ul class="gap-8 grid grid-cols-2 md:grid-cols-3">
  {
    images.map((image) => (
      <li class="relative group cursor-pointer overflow-hidden rounded-lg shadow-lg aspect-square hover:opacity-80 transition-opacity duration-300">
        <a href={pathNameWithoutId + image.id}>
          <Image
            src={image?.url}
            alt={image?.name ?? "image without description"}
            width="600"
            height="600"
            class="w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110"
            quality={80}
          />
        </a>
      </li>
    ))
  }
</ul>
