---
export const prerender = false;

import ImagePreset from "./ImagePreset.astro";

import { db } from "@/db/index";

async function getMyImages() {
  const images = await db.query.images.findMany({
    orderBy: (model, { desc }) => desc(model.id),
  });

  return images;
}

const myImages = await getMyImages();

// const { images } = Astro.props;
---

<ul class="gap-4 justify-center grid grid-cols-2 sm:grid-cols-3">
  {
    myImages?.map((image) => (
      <li class="aspect-square rounded-md overflow-hidden">
        <ImagePreset src={image?.url} alt={image?.name} />
      </li>
    ))
  }
</ul>
