---
import { Navigation } from "./Navigation.jsx";
import { SelectLanguage } from "./SelectLanguage.jsx";
import { ModeToggle } from "./ModeToggle.tsx";

import { languages } from "../utils/langs.js";
import { useStoryblokApi } from "@storyblok/astro";

const { langSwitch, language } = Astro.props;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
  language,
});
const headerMenu = data?.story?.content?.header_menu;

// TODO: link properly to "/" index page, currently links to "/home" instead
---

<header>
  <div class="flex justify-between items-center mx-5">
    <Navigation data={headerMenu} client:idle />
    <div>
      <SelectLanguage data={languages} langSwitch={langSwitch} client:idle />
      <ModeToggle client:load />
    </div>
  </div>
</header>
