---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";

import { useStoryblokApi } from "@storyblok/astro";
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
});
const headerMenu = data?.story?.content?.header_menu;
// TODO: link properly to "/" index page, currently links to "/home" instead
---

<header>
  <Hamburger />
  <div class="header-menu">
    <nav>
      <ul role="list" class="page-nav">
        {
          headerMenu.map((menu) => (
            <li>
              <a href={`/${menu.link.cached_url}`}>
                {menu.link.story.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <ThemeIcon />
  </div>
</header>

<script>
  document.querySelector(".hamburger").addEventListener("click", () => {
    document.querySelector(".header-menu").classList.toggle("expanded");
  });
</script>
