---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";

import { languages, getTransLink } from "../utils/langs.js";
import { useStoryblokApi } from "@storyblok/astro";

const { langSwitch, language } = Astro.props;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/config", {
  version: "draft",
  resolve_links: "url",
  language,
});
const headerMenu = data?.story?.content?.header_menu;

// TODO: link properly to "/" index page, currently links to "/home" instead
---

<header>
  <Hamburger />
  <div class="header-menu">
    <nav>
      <ul role="list" class="page-nav">
        {
          headerMenu.map((menu) => (
            <li>
              <a href={menu.link.cached_url}>
                {menu.link_name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="menu-utils">
      {languages.map((lang) => <a href={langSwitch[lang]}>{lang}</a>)}
      <ThemeIcon />
    </div>
  </div>
</header>

<script>
  document.querySelector(".hamburger").addEventListener("click", () => {
    document.querySelector(".header-menu").classList.toggle("expanded");
  });
</script>
