---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <Hamburger />
  <div class="header-menu">
    <nav>
      <ul role="list" class="page-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </nav>
    <ThemeIcon />
  </div>
</header>

<script>
  document.querySelector(".hamburger").addEventListener("click", () => {
    document.querySelector(".header-menu").classList.toggle("expanded");
  });
</script>
